services:
  go-app:
    container_name: go-app
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - go_db
    environment:
      DB_HOST: go_db
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
      JWT_SECRET: ${JWT_SECRET}
    env_file:
      - .env

  go_db:
    container_name: go_db
    image: postgres:12
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
      # Mapeia o psotgres local para o docker, no windows 5433 -> Docker 5432
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: {}
